<!DOCTYPE html>
<html>
<head>
  <title>Store</title>

</head>
<body>
<h1> <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
        <% if current_user.user_type == 'SuperAdmin' %>
          <b><%= link_to "Edit profile", edit_user_registration_path %></b>
          <b><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></b></br>
          <b><%= link_to "Add Compaign", new_user_path%>
        <% else %>
          <b><%= link_to "Edit profile", edit_user_registration_path %></b>
          <b><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></b></br>
          <b><%= link_to "Add Affiliator", new_user_path%>
        <% end %>

  <% else %>
      <b><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></b>
  <% end %>
</h1>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
</body>
</html>
