<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%= app_name %></h1>
        <p class="p0 m0">Login</p>
      </header>
    </div>
  <% if alert %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= fa_icon_tag "remove" %> <%= alert %>
      </div>
  <% end %>
  <div class="row mt20">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class=>"form-horizontal col-xs-12 col-md-6 col-md-offset-3", :id=>"new_user"}) do |f| %>
        <div class="sheet form-sheet">
          <div class="sheet-inner">
            <div class="form-group ">
              <%= f.label :email, :class=>"form-label"%>
              <%= f.email_field :email, autofocus: true, :class=>"form-label",  :id=>"user_email", :required=>"required"%>
            </div>
            <div class="form-group ">
              <%= f.label :password, :class=>"form-label"%>
              <%= f.password_field :password, autocomplete: "off", :id=> "user_password", :required=>"required"%>
            </div>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
            <div class="form-sheet-footer">
              <%= f.label :remember_me, class: "checkbox col-sm-6" do %>
                  <%= f.check_box :remember_me %> Remember me
              <% end %>
              <%= f.submit "Log in", class: 'btn btn-primary pull-right mr20' %>
            </div>
        <% end %>
    <% end %>
  </div>
  <br/>
  <br/>
    <div class="row mt20">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-right">
        <ul class="list-unstyled options">
          <li class="col-xs-12 col-md-6"><a href="/users/sign_up">Sign up</a></li>
          <%if devise_mapping.recoverable? %>
              <li class="col-xs-12 col-md-6"><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
          <% end %>
              <li class="col-xs-12 col-md-6"><%= link_to "Didn't receive confirmation instructions?", :style =>"white-space: nowrap;"%></li>
              <li class="col-xs-12 col-md-6"><%= link_to "Didn't receive unlock instructions?" %></li>
        </ul>
      </div>
    </div>
</div>
    </div>

